<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Room locator</title>
    <style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 25px;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
<body>
    <div class="row">
   <div class="column">
        <h1 style="background-color: skyblue;">Receptor positioning by WiFi signal strength</h1>
        <h2>Select sample dataset to train the model</h2>
        <form name="data" action="/" method="post">
            Clean dataset<input type="radio" name="dataset" value="Clean Dataset">
            ; Noisy dataset<input type="radio" name="dataset" value="Noisy Dataset"><br>
            Or upload new dataset (.txt, from "wifi_db" directory): <input type="file" name="dataset" accept=".txt" dirname="static"><br><br>
            <input type="submit" name="decision" value="Create decision tree">
            <input type="submit" name="reselect" value="Reselect dataset"><br>
            See performance of decision tree algorithm <input type="submit" name="cross" value="Cross validation"><br>
            <b>Confusion Matrix: </b><br>
            {% if conf %}
            <table>
                <tr>
                    {% for h in conf[0] %}
                    <th><b>{{h}}</b></th>
                    {% endfor %}
                </tr>
                {% for r in conf[1:] %}
                <tr>
                    <th><b>{{r[0]}}</b></th>
                    {% for v in r[1:] %}
                    <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}   
            </table>
            {% endif %}
            <b>Evaluation statistics</b><br>
            {% for stat in report %}
            <textarea cols="50" rows="1">{{stat}}</textarea>
            {% endfor %}
        </textarea>
        </form>
        {% if data_name %}
        Dataset for training: <b>{{data_name}}</b><br>
        {% if decision.decision_tree %}
        **Decision tree has been constructed successfully!<br>
        {% endif %}
        {% endif %}
        <h2>Locate your receptor</h2>
        <form action="/" method="post">
            <b>Upload a file of signal values to predict </b>(.txt, from "predictions" directory): <input type="file" name="pred_file"><br>
            <br><b>Alternatively, fill in signal strengths: </b><br>
            {% for attr in attrs[:4] %}
            WiFi {{attr[-1]}} <input type="number" name="{{attr}}" min="-100", max="100">
            {% endfor %}<br>
            {% for attr in attrs[4:] %}
            WiFi {{attr[-1]}} <input type="number" name="{{attr}}" min="-100", max="100">
            {% endfor %}
            <br><br><b>Room numbers: </b><input type="submit" name="predict" value="Make predictions"><br>
        </form>
        {% for rn in room_nums %}
        <textarea cols="2" rows="1">{{rn}}</textarea>
        {% endfor %}

    </div>
    <div class="column">
        <h1>Visualize decision tree</h1>
        <form action="/" method="post">
            <input type="submit" name="visualization" value="Draw decision tree">
            <a href="/graphs" target="_blank">View graphic history</a>
         </form>
        {% if graphs %}
            {% for gname in graphs %}
            Decision Tree {{gname[-5]}} -- {{gname}} <br>
            <img src="static/plots/{{gname}}" alt="Tree visualization" width="500" height="600"><br>
            {% endfor %}
        {% endif %}
    </div>
    </div> 
</body>