<head>
    <title>Room locator</title>
</head>
<body>
    <h1 style="background-color: skyblue;">Receptor location finder by WiFi signal strength</h1>
    <h2>Decision tree performance</h2>
    <form action="/" method="post">
        <b>Select dataset to see performance:</b> <br>
        Clean dataset<input type="radio" name="dataset" value="clean">
        ; Noisy dataset<input type="radio" name="dataset" value="noisy">
        <input type="submit" name="report" value="Generate report">
    </form>
    <textarea name="analytics" cols="85" rows="10"></textarea>
    <h2>Locate your receptor</h2>
    <form action="/" method="post">
        <b>Upload training dadaset </b><br>
        <input type="file" name="train" value=><br><br>
        <b>Fill in signal strength measures: </b><br>
        WiFi 1<input type="number" name="x0" min="-100", max="100">
        WiFi 2<input type="number" name="x1" min="-100", max="100">
        WiFi 3<input type="number" name="x2" min="-100", max="100">
        WiFi 4<input type="number" name="x3" min="-100", max="100"><br>
        WiFi 5<input type="number" name="x4" min="-100", max="100">
        WiFi 6<input type="number" name="x5" min="-100", max="100">
        WiFi 7<input type="number" name="x6" min="-100", max="100">
    </form>
    <input type="submit" name="predict" value="Locate"><br>
    <b>Room number: </b><textarea cols="10" rows="1"></textarea>
</body>